@import "part/component/label";
.test-block{
    height: 900px;
}
.component{
    &.component-swiper{
        .swiper-wrapper{
            .swiper-slide{
                height:427px;
            }
        }
    }

    &.component-resource-list{
        .resource-item{
            display:inline-block;
            .resource-title{
                padding:0 9px;
            }
            .resource-body{
                height:150px;
                overflow: hidden;
            }
            .resource-tags{
                .label{
                    display: inline-block;
                    margin:{
                        left:5px;
                    }
                }
            }
            .resource-footer{
                padding:{
                    left: 9px;
                    right: 9px;
                    bottom: 9px;
                }
            }
        }
    }

    &.component-modal{
        .modal-dialog-toolbar-static{
            position: fixed;
            width:100%;
        }
        .modal-dialog-toolbar{
            text-align: right;
            .modal-dialog-toolbar-group{
                right:-35px;
            }
        }
        .modal-dialog-block{
            margin:10px auto;
        }
        &.modal-fluid{
            .modal-dialog-block{
                width: map-get($globalConfig,'base-modal-dialog-width');
            }
        }

        &.modal-static{
            position: relative;
            top: auto;
            right: auto;
            bottom: auto;
            left: auto;
            z-index: 1;
            display: block;
        }
    }
}
